<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App</title>
    {% load static %}
    <link rel="manifest" href="{% static 'manifest.json' %}">
    <link rel="icon" href="{% static 'favicon.ico' %}">
    {% block extra_css %}{% endblock %}
    <script>
        if ('serviceWorker' in navigator) {
            navigator.serviceWorker.register("{% static 'serviceworker.js' %}");
        }
    </script>
</head>
<body>
    {% block content %}
    {% endblock %}
</body>
</html>